body {
  padding: 0;
}

.m-toolbar{
  text-align: center;
  position: fixed;
  bottom: 0.5em;
  margin: auto;
  max-width: 80%;
  display: block;
}

.m-toolbar-button{
  padding: 10px;
  margin: 0;
  width: 25%;
  float: left;
  display: block;
}