body {
  padding: 0;
}

.m-toolbar{
  text-align: center;
  position: fixed;
  bottom: 0.5em;
  margin: auto;
  max-width: 80%;
  display: block;
}

.m-toolbar-button,
.m-toolbar-button-nav{
  padding: 10px;
  margin: 0;
  width: 25%;
  float: left;
  display: block;
}

.m-toolbar-page {
  display: none;
  position: fixed;
  top: 5px;
  z-index: 999;
  background-color: #000000;
}