#sidebar {
  @include media-breakpoint-down(md) {
    background-color: theme-color("light");
  }
  @include media-breakpoint-up(md) {
    max-width: 400px;
    background-color: theme-color("dark");
  }
}

#page, #post {
  @include media-breakpoint-up(md) {
    max-width: 800px;
  }
}

blockquote {
  @extend .my-3;
  @extend .mx-5;
  @extend .p-3;
  @extend .bg-light;
  @extend .rounded;
}

#pagination-nav  ul {
  @extend .nav;
  @extend .justify-content-center;

}

#pagination-nav li {
  @extend .nav-item;
}

#pagination-nav .current {
  @extend .active;
  @extend .nav-link;
  @extend .border-0;
  @extend .bg-light;
}

#pagination-nav a {
  @extend .nav-link;
  @extend .border-0;
  @extend .bg-light;
}


.grid-item, .grid-size {
  @include media-breakpoint-up(xs) {
    width: 100%;
  }
  @include media-breakpoint-up(lg) {
    width: 50%;
  }
  @include media-breakpoint-up(xl) {
    width: 33.333%;
  }
}

img {
  max-width: 100%
}

.size-small {
  @include media-breakpoint-up(xs) {
    max-width: 100% !important;
  }
  @include media-breakpoint-up(md) {
    max-width: 80% !important;
  }
  @include media-breakpoint-up(lg) {
    max-width:60% !important;
  }
}

.size-medium {
  @include media-breakpoint-up(xs) {
    max-width: 100% !important;
  }
  @include media-breakpoint-up(md) {
    max-width: 80% !important;
  }
}

.size-large {
  @include media-breakpoint-up(xs) {
    max-width: 100% !important;
  }
}

.wp-caption {
  @extend .p-3;
  width: 100% !important;
}

.aligncenter {
  @extend .ml-auto;
  @extend .mr-auto;
}

.alignleft {
  @extend .mr-auto;
  @extend .float-left;
}

.alignright {
  @extend .ml-auto;
  @extend .float-right;
}

.wp-caption img {
  @extend .m-1;
  height: auto !important;
}

.wp-caption-text {
  @extend p;
  @extend .font-italic;
  @extend .small;
  max-width: 80%
}