#sidebar {
  @include media-breakpoint-down(md) {
    background-color: theme-color("light");
  }
  @include media-breakpoint-up(md) {
    max-width: 400px;
    background-color: theme-color("dark");
  }
}

#page, #post {
  @include media-breakpoint-up(md) {
    max-width: 800px;
  }
}

blockquote {
  @extend .my-3;
  @extend .mx-5;
  @extend .p-3;
  @extend .bg-light;
  @extend .rounded;
}

#pagination-nav  ul {
  @extend .nav;
  @extend .justify-content-center;

}

#pagination-nav li {
  @extend .nav-item;
}

#pagination-nav .current {
  @extend .active;
  @extend .nav-link;
  @extend .border-0;
  @extend .bg-light;
}

#pagination-nav a {
  @extend .nav-link;
  @extend .border-0;
  @extend .bg-light;
}


.grid-item, .grid-size {
  @include media-breakpoint-up(xs) {
    width: 100%;
  }
  @include media-breakpoint-up(lg) {
    width: 50%;
  }
  @include media-breakpoint-up(xl) {
    width: 33.333%;
  }
}