

body,
html {
  height: 100%;
}

.social-media-widget-item {
  float: right;
  height: 30px
}

.social-media-widget-content {
  width: 100%;
  min-height: 30px;
}

.front-page-content-wrapper {
  min-height: 100%;
}

.page-content,
.post-content {
  margin: 0 1rem;
}

.page-title,
.post-title {
  margin: 1rem 1rem;
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}


.m-toolbar{
  text-align: center;
  margin: 0;
  display: block;
  width: 100%;
  height: 2rem;
  background-color: white;
  border-bottom: 1px solid black;
}

.m-toolbar-button,
.m-toolbar-button-nav {
  margin: 0 auto;
  border-radius: 5px;
  width: 25%;
  float: left;
  display: block;
  border: none;
  height: 100%;
}

.m-toolbar-page {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

.active {
  overflow-y: auto;

}

.site-branding {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.site-title {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  margin: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}


.site-title a {
  font: sans-serif;
  color: orange;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
}

.site-title a:hover {
}

.site-title a:active {
  color: white;
  background-color: orange;
  border-radius: 5px;
}

.site-branding:before,
.site-branding:after {
  content: "";
  display: table;
  clear: both;
}

.site-navigation {
  display: none;
}

.sticky-navbar {
  position: fixed;
  top: 0;
}

.site-footer {
  margin: 0;
  background-color: white;
  width: 100%;
  border-top: 1px solid black;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
}

.front-page-branding {
  margin: 0 auto;
  min-height: 100%;
}

.site-logo {
  width: 100%;
}

.site-logo img {
  width: 100%;
}

.m-front-page-branding ul {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

.m-front-page-branding ul li {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  height: 7%;
}

.m-front-page-branding ul li a,
.m-front-page-branding#show-more,
.m-full-button {
  display: block;
  text-align: center;
  padding: 0.5rem0;
  width: 90%;
  background-color: #FFF;
  margin: 0 auto;
  border: 1px solid black;
}

.m-full-button {
  margin-bottom: 20%;
}


.m-front-page-branding li a:hover {
  background-color: #a0a0a0;
}

.l-front-page-branding {
  display: none;
}

.site-footer {
}

.loop {
  margin-bottom: 1rem;
}